@font-face { font-family: LED; src: url('./fonts/The\ Led\ Display\ St.ttf'); }
@font-face { font-family: RECEIPT; src: url('./fonts/Fake\ Receipt.otf'); } 

body {
  color: #fdfaee;
  font-family: RECEIPT;
  margin: 0;
}

.background {
  background-image: conic-gradient(from var(--angle) at var(--x) var(--y),  #365A44 0%, #66895a 50%, #365A44 100%);
  animation: background-angle 20s linear infinite;
  /* animation: background-x 4s linear infinite;   */
  /* animation: background-y 4s linear infinite;   */
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 180deg;
}

@property --x {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -5%;
}

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value:50%;
}
@keyframes background-angle {
  0% { --angle: 180deg }
  /* 50% { --angle: 360deg } */
  100% { --angle: 540deg }
}

@keyframes background-x {
  0% { --x: -5% }
  50% { --x: 105% }
  100% { --x: -5% }
}
@keyframes background-y {
  0% { --y: 0% }
  50% { --y: 100% }
  100% { --y: 0% }
}

.content {
  max-width: 1200px;
  margin: auto;
}

.instructions {
  font-family: RECEIPT;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 80px;
  top: 8%;
}

.games {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vh 0;
}

.game-assets {
  background-color: rgb(17, 17, 17);
  /* background-image: conic-gradient(from var(--angle) at var(--x) var(--y),  #804036 25%, #2a5486 50%, #804036 75%); */
  padding: 10px;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;
}

.game-text { 
  background-color: rgb(17, 17, 17);
  --x: -5%;
  --y: 200%;
  animation: background-angle 10s linear infinite, background-x 10s linear infinite; 
  background-image: conic-gradient(from var(--angle) at var(--x) var(--y),  #804036 0%, #2a5486 50%, #804036 100%);
  padding: 12px;
  display: flex;
  border-radius: 0 20px 20px 0;
  flex-direction: column;
}

.game-title {
  font-size: 28px;
}

.game-bio {
  font-size: 10px;
  margin-top: 6px;
}

.test {
  padding: 5px 0;
  /* background-color: rgb(17, 17, 17); */
  border-radius: 20px;
  margin-bottom: 20px;
}

.bio {
  margin-top: 2vh;
  display: flex;
  width:100%;
  justify-content:center;
  font-size: 20px;
}

.closing-text {
  text-align: center;
  margin-top: 5vh;;
  font-size: 12px;
}
.fire-group {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 40px;
  height: 100px;
  /* font-size: 12px; */
  justify-content: center;
  /* font-size: 24px; */
  font-size: 8px;
  top: 0%;
}

.light {
  position: absolute;
  line-height: 100%;
  /* opacity: 75%; */
  animation: light 2s ease-in-out 0s infinite;
}

.light-3 {
  animation: light 2s ease-in-out 0s infinite;
}


@keyframes light {
  0% {
    visibility: hidden;
    /* opacity: 100%; */
  }
  50% {
    visibility: visible;
    /* opacity: 50%; */
  }
  100% {
    visibility: hidden;
    /* opacity: 100%; */
  }

}

.camp-fire {
  position: absolute;
  /* font-size: 24px; */
  /* opacity: 75%; */
  /* opacity: 50%; */
}

.flame-1 {
  left: 51%;
  animation-duration: 4s;
  animation-delay:0s;
}

.flame-2 {
  left: 49%;
  animation-duration: 3s;
  animation-delay:1s;
}

.flame-3 {
  left: 50%;
  animation-duration: 3s;
  animation-delay:1.7s;
}

.flame-4 {
  left: 51%;
  animation-duration: 4s;
  animation-delay:3s;
}

.flame-5 {
  left: 50%;
  animation-duration: 3s;
  animation-delay:4.3s;
}

.flame-6 {
  left: 48%;
  animation-duration: 3s;
  animation-delay:5.5s;
}

.flame {
  color: rgb(241, 227, 144);
  /* font-size: 24px; */
  position: absolute;
  opacity: 75%;
  /* font-size: 24px; */
  animation-name: flame;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

@keyframes flame {
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  100% {
    opacity: 5%;
    transform: translateY(-1500%) rotate(40deg) translateX(10px) scale(75%);
  }
}